#container{

box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
width:360px;
margin: 100px auto;
background-color: #f7f7f7;



}
.fa-plus
{
    float:right;
    
}
body{
    font-family: 'Roboto', sans-serif;
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    
.completed{


    color: grey;
    text-decoration: line-through;
}
h1{
background-color: #2980b9;
margin: 0;
font-weight: normal;
text-transform: uppercase;
padding: 10px 20px;
font-size: 24px;
color: white;

}
input:focus{
    outline: none;
    border: 3px solid #2980b9;
    background-color:white;
}

input
{
    color: #2980b9;
    width:100%;
    box-sizing: border-box;
    background-color: #f7f7f7;
    font-size: 18px;
    padding: 13px 13px 13px 20px;
    border: 3px  solid rgba(0,0,0,0.1);

}
li
{
    height: 40px;
    background-color: white;
    line-height: 40px;
    color: #666;
}
li:nth-child(2n)
{
    background-color: #f7f7f7;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
span{
    color: white;
    background-color: red;
    height: 40px;
    margin-right: 20px;
    display: inline-block;
    width: 0px;
    text-align: center;
    opacity: 0;
    transition: 0.2s  linear;
}
li:hover span{
    width: 40px;
    opacity: 1;
}